.topic-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.topic-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.topic-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 10px;
  background-color: var(--card-light);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: var(--shadow-light);
  overflow: hidden;
  position: relative;
}

.topic-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s ease;
  transform: scale(0);
  z-index: 0;
}

.topic-button:hover::before {
  transform: scale(1);
}
body.dark-theme .topic-button::before {
  background: radial-gradient(circle, transparent, rgba(255, 255, 255, 0.1));
}

body.dark-theme .topic-button:hover::before {
  transform: scale(1);
}

.topic-button:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-light);
  color: white;
}

.topic-button > * {
  position: relative;
  z-index: 1;
}

body.dark-theme .topic-button {
  background-color: var(--card-dark);
  color: var(--text-dark);
  box-shadow: var(--shadow-dark);
}

body.dark-theme .topic-button:hover {
  background-color: var(--primary-dark);
  color: white;
}
