.app {
  font-family: 'Arial', sans-serif;
  /* max-width: 1200px; */
  margin: 0 auto;
  
  /* padding: 20 px; */
  min-height: 100vh;
  box-shadow: var(--shadow-light);
  background-color: var(--background-light);
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

body.dark-theme .app {
  background-color: var(--background-dark);
  box-shadow: var(--shadow-dark);
}
